$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$dark-blue: hsl(234, 12%, 34%);
$gray-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);


//Typography
$base-font-size: 15px;

//Radius
$border-radius: 8px;

//Shadow
$box-shadow: 0 15px 30px rgba(131,166,210,0.5)